#skills
{
    overflow: hidden;
    width: 100vw;
    min-width: 1000px;
    /* max-width: 65rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle
{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.skillDesc
{
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars
{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    min-width: 80%;
    /* left: 10rem; */
    text-align: left;
}

.skillBar
{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    background: rgb(50, 50, 50);
    border-radius: 0.5rem;
}

.skillBarImg
{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p
{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 720px) 
{
    .skillBarText > p 
    {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) 
{
    .skillBarText > p 
    {
        font-size: 3vw;
    }
    .skillBarImg
    {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText > h2
    {
        font-size: 5vw;
    }
}