#skills
{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    overflow: hidden;
    width: 100vw;
    min-width: 1000px;
    padding: 0 1rem;
    /* max-width: 65rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillTitle
{
    font-size: 3rem;
    padding-top: 1.5rem;
    margin: 1.5rem auto;
    font-weight: 600;
}

.skillBars
{
    padding: 0 10rem 0 5rem;
}

.skillBar
{
    width: 80vw;
    margin: 1rem;
    padding: 1.8rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: rgb(50, 50, 50);
}

.skillImgs
{
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.skillImg
{
    object-fit: cover;
    box-sizing: border-box;
    height: 2rem;
    /* width: calc(20% - 10vw); */
    /* width: 3rem; */
    margin: 1rem 2rem;
    border-radius: 1rem;
}

.skillType
{
    display: flex;
    margin: 0.5rem 0 0 1.2rem;
    /* justify-content: center; */
    /* align-items: center; */
}

.skillBarText>p
{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 720px) 
{
    .skillBarText > p 
    {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) 
{
    .skillBarText > p 
    {
        font-size: 3vw;
    }
    .skillBarImg
    {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText > h2
    {
        font-size: 5vw;
    }
}